@import "./Custom";


.welcome-img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    z-index: 5;
    right: 0;
    top: 0;
}

.credentials {
    background-color: $background;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    left: 0px;
    top: 0px;
}

.credentials-form {
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    z-index: 10;
}

.credentials-input {
    margin-right: 5%;
    flex-basis: 20%;
    margin-left: 5%;
    flex-grow: 0;
    width: 30%;
}

.credentials-input > label {
    font-family: 'Laila';
    font-style: normal;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
}

.credentials-bg {
    mix-blend-mode: multiply;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.credentials-card {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    z-index: 10;
    width: 50%;
    opacity: 1;
}

.credentials-container {
    position: relative;
    height: 250px;
    width: 200px;
    width: 50%;
    opacity: 1;
}

.credentials-container  img {
    object-fit: cover;
    height: 250px;
    width: 200px;
}

.overlay-left {
    background-color: $secondary;
    transition: .5s ease;
    position: absolute;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    right: 0;
    width: 0;
    left: 0;
}
  
.credentials-container:hover .overlay-left {
    width: 100%;
}

.overlay-rigth {
    background-color: $secondary;
    transition: .5s ease;
    position: absolute;
    overflow: hidden;
    height: 100%;
    left: 100%;
    bottom: 0;
    right: 0;
    width: 0;
}
  
.credentials-container:hover .overlay-rigth {
    width: 100%;
    left: 0;
}

.overlay-text {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap; 
    position: absolute;
    overflow: hidden;
    font-size: 20px;
    color: white;
    left: 50%;
    top: 50%;
}
