@import "Custom";

.welcome-img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    z-index: 5;
    right: 0;
    top: 0;
}


.credentials {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: $background;
}

.credentials-form {
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.credentials-input {
    flex-grow: 0;
    flex-basis: 20%;
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
}

.credentials-input > label {
    text-align: left;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    width: 100%;
}

.credentials-bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    opacity: 0.2;

    mix-blend-mode: multiply;
}

.credentials-card {
    position: relative;
    z-index: 10;
    width: 50%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credentials-container {
    position: relative;
    width: 50%;
    width: 200px;
    height: 250px;
    opacity: 1;
}

.credentials-container  img {
    object-fit: cover;
    width: 200px;
    height: 250px;
}

.overlay-left {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $secondary;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.credentials-container:hover .overlay-left {
    width: 100%;
}

.overlay-rigth {
    background-color: $secondary;
    transition: .5s ease;
    position: absolute;
    overflow: hidden;
    height: 100%;
    left: 100%;
    bottom: 0;
    right: 0;
    width: 0;
}
  
.credentials-container:hover .overlay-rigth {
    width: 100%;
    left: 0;
}

.overlay-text {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap; 
    position: absolute;
    overflow: hidden;
    font-size: 20px;
    color: white;
    left: 50%;
    top: 50%;
}
