@import "../../node_modules/bootstrap/scss/bootstrap";
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)

* {
    box-sizing: border-box;
}

$primary: #5ceb6f;
$secondary: #04724d;
$background: #FFE7DB;
$detail: #56638A;
$dark: #100B00;
$light: #CCD7F9;
$dark-text: #373E52;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark
);

// Input

input {
    background: rgba(255, 231, 219, 0.9);
    border-width: 0px 3px 3px 0px;
    border-style: solid;
    border-color: $secondary;
    box-shadow: 7px 7px 15px #1E1E1E;
    border-radius: 10px;
    color: $dark-text;
    width: 100%;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 54px;
}

input:focus-visible{
    outline: none;
}

//Button

button, input[type="submit"], .btn-general {
    border: 5px solid $secondary;
    border-radius: 20px;
    background-color: transparent;
    font-family: 'Laila';
    font-style: normal;
    padding: 0 50px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 54px;
    align-self: flex-end;
    
    color: $secondary;
}

.btn-general:hover{
    background-color: $secondary;
    border: 5px solid $secondary;
    border-radius: 20px;
    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    padding: 0 50px;
    font-size: 1.5rem;
    line-height: 54px;

    color: white;
}
