@import "Custom";


.signup {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: $background;
}

.signup-form {
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.signup-input {
    flex-grow: 0;
    flex-basis: 20%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
}

.signup-bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    opacity: 0.2;

    mix-blend-mode: multiply;
}